/********** Forside grid sektion **********/
.forsidegrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-inline: 8%;
  margin-top: 3rem;
  gap: 2rem;
  padding: 2rem;
  background-color: #ffff;
  border: 2px solid #312e2e;
}

/******** om mig grid **********/
.ommiggrid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-inline: 8%;
  margin-top: 4rem;
  gap: 2rem;
  padding: 3rem;
  background-color: #ffff;
  border: 3px solid #312e2e;
  margin-bottom: 4rem;
}
.logoCV .ommig_tekst .ommigknap {
  grid-column: 2; /* Standard rækkefølge */
}

.billedeCV {
  grid-column: 1; /* Standard rækkefølge */
}

/******** Tema 2 *********/
.tema2_grid1 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-inline: 4%;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.tema2_grid2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-inline: 4%;
  gap: 0.5rem;
  margin-top: 8rem;
}
.tema2_grid3 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-inline: 0%;
  gap: 0.5rem;
  margin-top: 0rem;
  background-color: #d1cac1;
  padding: 2rem;
}

/********* tema 3 *********/
.tema3_grid2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-inline: 0%;
  gap: 0.5rem;
  margin-top: 8rem;
  background-color: #d1cac1;
}
/****** Tema 4********/
.tema4_grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tre kolonner */
  gap: 80px;
  background-color: #d1cac1;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-inline: 4%;
}
.tema3_grid2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-inline: 4%;
  gap: 0.5rem;
  margin-top: 8rem;
}

/************ footer **********/
.gridfooter_2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 0.5rem;
  margin-inline: -0.2%;
}
@media screen and (max-width: 800px) {
  /******* Forside *********/
  .forsidegrid {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 8%;
    margin-top: -2rem;
    gap: 2rem;
    padding: 2rem;
    background-color: #ffff;
    border: 2px solid #312e2e;
  }

  /********* Om mig *********/
  .ommiggrid {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 8%;
    margin-top: 2rem;
    gap: 2rem;
    padding: 2rem;
    background-color: #ffff;
    border: 2px solid #312e2e;
  }
  .logoCV .ommig_tekst .ommigknap {
    grid-row: 1; /* Standard rækkefølge */
  }

  .billedeCV {
    grid-row: 2; /* Standard rækkefølge */
  }
  .order {
    order: -1;
  }

  /****** tema 2 *********/
  .tema2_grid1 {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 4%;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  .tema2_grid2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 4%;
    gap: 0.5rem;
    margin-top: 8rem;
  }
  .tema2_grid3 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-inline: 1%;
    gap: 0.5rem;
    margin-top: 4rem;
    background-color: #d1cac1;
    padding: 2rem;
  }
  /********* Tema 3*******/
  .tema3_grid2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 1%;
    gap: 0.5rem;
    margin-top: 8rem;
    background-color: #d1cac1;
  }

  /******** Tema 4 ******/
  .tema4_grid1 {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 0px;
    background-color: #d1cac1;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-inline: 0%;
  }

  /******** Footer ********/
  .gridfooter_2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-inline: 0%;
  }
  .gridfooter_3 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-bottom: 3rem;
  }
}
