body {
  background-color: #e0d9d0;
  padding: 0;
  overflow-x: hidden;
}
.img {
  max-width: 100%;
  height: auto;
}

/*********** typewriter hero ************/
.typerwriter-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 0;
  margin-bottom: -4rem;
}

#typewriter {
  white-space: pre; /* Bevarer linjeskift */
  overflow: hidden;
  display: inline-block;
  font-size: 5.5rem; /* Gør teksten større */
  color: #fa1e1e; /* Tekstfarve */
  text-align: center; /* Justerer tekst centralt */
  justify-content: center;
  font-weight: 550;
  font-family: "montserrat";
}

#typewriter::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 5rem;
  background-color: #fa1e1e;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}
@media screen and (max-width: 768px) {
  .typerwriter-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
  }

  #typewriter {
    white-space: pre; /* Bevarer linjeskift */
    overflow: hidden;
    display: inline-block;
    font-size: 28px; /* Gør teksten større */
    color: #fa1e1e; /* Tekstfarve */
    text-align: center; /* Justerer tekst centralt */
    justify-content: center;
    font-weight: 550;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  #typewriter::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2rem;
    background-color: #fa1e1e;
    animation: blink 0.8s step-end infinite;
  }
}

/********** Forside grid sektion1 *********/

.lilletekst {
  font-size: 15px;
  font-family: "Inter";
  margin-bottom: 2rem;
  color: #312e2e;
}
.forside_h1 {
  font-size: 37px;
  font-family: "montserrat";
  font-weight: 500;
  color: #312e2e;
}
.forside_h2 {
  font-size: 30px;
  font-family: "montserrat";
  font-weight: 400;
  margin-top: -1rem;
  margin-bottom: 2rem;
  color: #312e2e;
}
.forside_tekst {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 300;
  color: #312e2e;
}
.forside_tekst1 {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 300;
  margin-top: -0.5rem;
  color: #312e2e;
}
.index_hero {
  display: flex;
  text-align: center;
}

.index_hero img {
  width: 100%;
}
.hero-video {
  width: 100%;
}

/******** Forside knapper **************/
.forsideknap_tema5 {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: #fa1e1e;
  border-bottom: 1px solid #fa1e1e;
  font-weight: 400;
  font-family: "Inter";
  letter-spacing: 1px;
  transition: border 0.3s ease, color 0.3s ease;
}

.forsideknap_tema5:hover {
  color: #312e2e;
  border-bottom: 1px solid #312e2e;
  transform: scale(1.1);
}

.knap {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/******** forside grid sekton2 ***********/
.forsidegrid2 {
  display: grid;
  gap: 10px;
  margin-inline: 8%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gør grid responsivt ved at tilpasse antallet af kolonner til skærmens bredde.*/
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  align-items: center;
}

.lottiimg {
  width: 100%;
  overflow: hidden;
  z-index: -1;
  position: relative;
  display: flex;
}

.grid-item {
  background-color: white;
  border: 2px solid #312e2e;
  padding: 20px;
}

.grid-item img {
  display: flex;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  align-items: center;
}

.grid-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
  font-family: "montserrat";
  font-weight: 400;
}

.grid-item h4 {
  font-size: 15px;
  font-family: "Inter";
  margin-bottom: 2rem;
  color: #312e2e;
  font-weight: 400;
}

/*********** Om mig side **********/
.billedeCV {
  width: 80%;
  border: 3px solid #fa1e1e;
  margin-left: 2rem;
}
.logoCV {
  width: 90%;
  margin-bottom: 2rem;
}
.ommig_tekst {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 200;
  color: #fa1e1e;
  line-height: normal;
  margin-right: 2rem;
  word-spacing: normal;
}
.ommigknap {
  display: inline-block;
  margin-top: 3.5rem;
  padding: 5px 40px;
  color: #fa1e1e;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid #fa1e1e;
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter";
  letter-spacing: 1px;
  transition: border 0.3s ease, color 0.3s ease;
}

.ommigknap:hover {
  color: #312e2e;
  border-bottom: 1px solid #312e2e;
  transform: scale(1.1);
  border: 3px solid #312e2e;
}

/********** Tema 2 **********/
.heroimg {
  width: 85%;
}
.hero-tema2 {
  display: flex;
  background-color: white;
  border: 2px solid #312e2e;
  padding: 5px;
  margin-inline: 4%;
  margin-top: 3rem;
  justify-content: center;
}
.tema_overskrifttekst {
  text-align: center;
}
.tema_h3 {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 350;
  margin-bottom: -1rem;
  margin-top: 8rem;
}
.tema_h1 {
  font-size: 70px;
  font-family: "Montserrat";
  font-weight: 400;
  margin-bottom: 6rem;
}

.grid-item_tema2 {
  background-color: white;
  border: 2px solid #312e2e;
  padding: 20px;
}

.grid-item_tema2 img {
  justify-content: center;
  width: 90%;
  height: auto;
  margin-left: 3rem;
}
.overskift_projekt {
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.4;
  text-align: justify;
  margin-right: 2rem;
  word-spacing: -3px;
}
.tekst_projekt {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 300;
  margin-bottom: 3rem;
  text-align: start;
  word-spacing: normal;
  margin-right: 2rem;
}
.tekst_projekt2 {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 300;
  margin-bottom: 3rem;
  text-align: start;
  word-spacing: normal;
  margin-right: 2rem;
}
.website_link {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 300;
  color: #312e2e;
}
.website_link:hover {
  color: #fa1e1e;
}
.mobil_tema2-img {
  width: 130%;
  margin-inline: -28%;
}
.mobil_tekst {
  font-size: 40px;
  font-family: "Inter";
  font-weight: 300;
  line-height: 1.4;
  text-align: justify;
  margin-right: 2rem;
  word-spacing: -4px;
}
.mobil_tekst2 {
  font-size: 40px;
  font-family: "Inter";
  font-weight: 200;
  margin-right: 2rem;
  margin-inline: 5%;
  margin-left: 0rem;
  margin-right: 4rem;
  margin-bottom: -5rem;
}
.mobil_tekst3 {
  font-size: 40px;
  font-family: "Inter";
  font-weight: 200;
  margin-right: 2rem;
  margin-inline: 5%;
  margin-left: 0rem;
  margin-right: 4rem;
}
.mobil_h2 {
  font-family: "Montserrat";
  font-weight: 500;
  margin-top: 11rem;
  font-size: 40px;
  margin-bottom: -1rem;
}
.styletileimg {
  margin-top: 5rem;
  align-content: center;
}
.styletileimg2 {
  width: 30%;
  margin-top: 2rem;
  align-content: center;
}
.projekt_navigation {
  text-align: center;
}
.navigation_tekst {
  font-family: "Montserrat";
  font-weight: 400;
  margin-top: 8rem;
  margin-bottom: -0.5rem;
  font-size: 30px;
}
.knap-navigation {
  margin-bottom: 8rem;
}

/******** tema 3 *********/
.grid-item_tema3-4 {
  background-color: white;
  border: 2px solid #fa1e1e;
  padding: 20px;
}
.grid-item_tema3-4 img {
  width: 90%;
  height: auto;
  padding-left: 2rem;
}
.hero-tema3-4 {
  display: flex;
  background-color: white;
  border: 2px solid #fa1e1e;
  padding: 5px;
  margin-inline: 4%;
  margin-top: 3rem;
  justify-content: center;
}

.mobil_tema3-img {
  width: 130%;
  margin-inline: -19%;
}
.mobil_tekst4 {
  font-size: 40px;
  font-family: "Inter";
  font-weight: 200;
  line-height: 1.3;
  text-align: start;
  margin-right: 2rem;
  word-spacing: normal;
  margin-inline: 5%;
  margin-left: 0rem;
  margin-right: 4rem;
  margin-bottom: 0;
}
.mobil_tekst5 {
  font-size: 40px;
  font-family: "Inter";
  font-weight: 200;
  line-height: 1.3;
  text-align: start;
  margin-right: 2rem;
  word-spacing: normal;
  margin-inline: 5%;
  margin-left: 0rem;
  margin-right: 4rem;
  margin-top: -2rem;
}
.h2_design {
  color: #fa1e1e;
  font-size: 70px;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 10rem;
}
.moodboard {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 12rem;
}
.moodboard_img {
  width: 50%;
  border: 3px solid #fa1e1e;
}
.logo_tema3 {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 3rem;
  width: 25%;
  margin-left: 5rem;
}
.color {
  background-color: #d1cac1;
  margin-top: 4rem;
  margin-inline: 4%;
}
.tekst_projekt-gridtekst_1 {
  font-size: 30px;
  font-family: "Inter";
  font-weight: 300;
  margin-bottom: 12rem;
  text-align: start;
  word-spacing: normal;
  margin-right: 2rem;
  margin-inline: 7%;
  font-weight: 200;
  color: #fa1e1e;
}
.tekst_projekt-gridtekst_2 {
  font-size: 30px;
  font-family: "Inter";
  font-weight: 300;
  margin-bottom: 12rem;
  text-align: start;
  word-spacing: normal;
  margin-right: 2rem;
  margin-inline: 8%;
  font-weight: 200;
  color: #fa1e1e;
}
.overskift_projekt-gridh2 {
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.4;
  margin-right: 2rem;
  margin-inline: 7%;
  margin-top: 15rem;
  color: #fa1e1e;
}
.overskift_projekt-gridh2_2 {
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.4;
  margin-right: 2rem;
  margin-inline: 8%;
  margin-top: 15rem;
  color: #fa1e1e;
}
.overskift-wireframes {
  font-family: "montserrat";
  font-weight: 400;
  font-size: 45px;
  margin-left: 2rem;
}

/****** carousel *******/
.carousel-slide img {
  width: 20vw;
  height: 65vh;
  object-fit: cover;
  margin-bottom: 2rem;
  border: 5px solid #fa1e1e;
}
.carousel-container {
  position: relative;
  display: flex;
  overflow-x: scroll;
  margin-top: 6.5rem;
  gap: 30px;
}

.carousel-slide {
  transition: transform 0.5s ease-in-out;
  height: 100%;
}
.billede1hover .billede2hover .billede3hover .billede4hover .billede5hover {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.container_hover {
  position: relative;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_hover:hover .billede1hover {
  opacity: 0.5;
}
.container_hover:hover .billede2hover {
  opacity: 0.5;
}
.container_hover:hover .billede3hover {
  opacity: 0.5;
}
.container_hover:hover .billede4hover {
  opacity: 0.5;
}
.container_hover:hover .billede5hover {
  opacity: 0.5;
}

.container_hover:hover .middle {
  opacity: 1;
}
.hovertekst {
  color: #fa1e1e;
  font-size: 35px;
  font-family: "Inter";
  font-weight: 300;
}
/******* Tema 4 *********/
.tema4mb {
  width: 45%;
}
.logo4 {
  width: 35%;
  margin-left: 2rem;
}
.img_tema2 {
  width: 200%;
}
.img_tema2-2 {
  width: 65%;
}
.img_1 {
  margin-left: 3rem;
}

.img_4 {
  margin-left: 5rem;
  margin-top: 1rem;
}
.img_5 {
  margin-left: 1rem;
}
.img_6 {
  margin-right: 30rem;
}
.img_7 {
  margin-left: 2rem;
  width: 80%;
  margin-top: -1rem;
}
.img_8 {
  width: 100%;
  margin-top: -1.5rem;
}
.grid-item_tema4 {
  background-color: #ffff;
  border: 2px solid #fa1e1e;
  padding: 20px;
}
.grid-item_tema4 img {
  width: 100%;
  height: auto;
  padding-left: 0;
}
.img_aktivitet {
  justify-content: center;
  width: 80%;
  height: auto;
  margin-left: 3rem;
}
.tekst_projekt_state {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 200;
  margin-bottom: 3rem;
  text-align: start;
  word-spacing: normal;
  margin-right: 2rem;
}
.tekst_projekt_state2 {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 200;
  margin-bottom: 3rem;
  text-align: start;
  word-spacing: normal;
  margin-right: 2rem;
}
/******** passions site tema 5 **********/

/* Styling for billede */
.billede_video img {
  width: 100%;
  height: 100%;
}

/* Styling for video */
.responsiv-video {
  width: 100%;
  height: 100%;
}

/* Styling for tekst */
.tekst-video {
  padding: 10px;
}
.h2_video {
  font-size: 30px;
  font-weight: 500;
  font-family: "Montserrat";
}
.tekst-video1 {
  font-size: 23px;
  font-weight: 300;
  font-family: "Inter";
}
.tekst-video2 {
  font-size: 23px;
  font-weight: 300;
  font-family: "Inter";
}

/********* Footer ***********/
footer {
  width: 100%;
}

.footer-grid-item1 {
  border: 2px solid #312e2e;
  padding: 20px;
}
.footer-grid-item2 {
  border: 2px solid #312e2e;
  padding: 20px;
}
.text_footerleft {
  margin-top: 2rem;
  text-align: center;
  color: #fa1e1e;
  text-decoration: 1px #312e2e underline;
  text-underline-offset: 6px;
  font-size: 17px;
  font-family: "Inter";
}
.text_footerleft:hover {
  color: #312e2e;
  text-decoration: 1px #fa1e1e underline;
  transform: scale(1.1);
}
.footer_h2 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Montserrat";
  padding-left: 1rem;
}
.footer_p1 {
  font-size: 18px;
  font-weight: 350;
  font-family: "Inter";
  margin-top: -0.5rem;
  padding-left: 1rem;
}
.footer_p2 {
  font-size: 16px;
  font-weight: 300;
  font-family: "Inter";
  margin-top: 2rem;
  padding-left: 1rem;
}
.footerknap {
  display: inline-block;
  text-decoration: none;
  color: #fa1e1e;
  border-bottom: 1.5px solid#312e2e;
  font-weight: 400;
  font-family: "Inter";
  letter-spacing: 1px;
  transition: border 0.3s ease, color 0.3s ease;
  font-size: 16px;
  margin-left: 1rem;
}

.footerknap:hover {
  color: #312e2e;
  border-bottom: 1.5px solid #fa1e1e;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .img_forside {
    padding-left: 0;
  }
  .index_hero {
    width: 100%;
    overflow: hidden;
  }

  .index_hero video {
    object-fit: cover;
    align-self: stretch;
    height: 100%;
  }
  .lilletekst {
    font-size: 10px;
    font-family: "Inter";
    margin-bottom: 2rem;
    color: #312e2e;
  }
  .forside_h1 {
    font-size: 25px;
    font-family: "montserrat";
    font-weight: 500;
    color: #312e2e;
  }
  .forside_h2 {
    font-size: 17px;
    font-family: "montserrat";
    font-weight: 400;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
    color: #312e2e;
  }
  .forside_tekst {
    font-size: 16px;
    font-family: "Inter";
    font-weight: 300;
    color: #312e2e;
  }
  .forside_tekst1 {
    font-size: 16px;
    font-family: "Inter";
    font-weight: 300;
    margin-top: -0.5rem;
    color: #312e2e;
  }
  .forsideknap_tema5 {
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
    color: #fa1e1e;
    border-bottom: 1px solid #fa1e1e;
    font-weight: 400;
    font-family: "Inter";
    letter-spacing: 1px;
    transition: border 0.3s ease, color 0.3s ease;
    font-size: 13px;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .forsideknap_tema5:hover {
    color: #312e2e;
    border-bottom: 1px solid #312e2e;
    transform: scale(1.1);
  }

  .knap {
    margin-top: 1rem;
  }
  .grid-item h3 {
    font-size: 17px;
    margin-bottom: 10px;
    color: #333;
    font-family: "montserrat";
    font-weight: 400;
    margin-left: 0;
  }

  .grid-item h4 {
    font-size: 15px;
    font-family: "Inter";
    margin-bottom: 2rem;
    color: #312e2e;
    font-weight: 400;
  }
  /************ om mig side ***********/
  .billedeCV {
    width: 100%;
    border: 3px solid #fa1e1e;
    margin-left: 0;
  }
  .logoCV {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .ommig_tekst {
    font-size: 18px;
    font-family: "Inter";
    font-weight: 200;
    color: #fa1e1e;
    text-align: start;
    margin-right: -1rem;
  }
  .ommigknap {
    display: inline-block;
    margin-top: 2rem;
    padding: 5px 30px;
    color: #fa1e1e;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #fa1e1e;
    font-weight: 400;
    font-size: 12px;
    font-family: "Inter";
    letter-spacing: 1px;
    transition: border 0.3s ease, color 0.3s ease;
  }
  /********** Tema 2 *********/
  .tema_h3 {
    font-size: 19px;
    font-family: "Inter";
    font-weight: 350;
    margin-bottom: -1rem;
    margin-top: 3rem;
  }
  .tema_h1 {
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 400;
    margin-bottom: 3rem;
  }
  .overskift_projekt {
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 400;
    margin-left: 0;
  }
  .tekst_projekt {
    font-size: 16px;
    font-family: "Inter";
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: start;
    word-spacing: normal;
    margin-right: 0;
  }
  .tekst_projekt2 {
    font-size: 16px;
    font-family: "Inter";
    font-weight: 300;

    text-align: start;
    word-spacing: normal;
    margin-right: 0;
  }
  .website_link {
    font-size: 15px;
    font-family: "Inter";
    font-weight: 300;
    color: #312e2e;
  }
  .grid-item_tema2 img {
    justify-content: center;
    width: 90%;
    height: auto;
    margin-left: 1.5rem;
  }
  .mobil_tema2-img {
    width: 100%;
    margin-inline: 0;
    margin-top: -4rem;
  }
  .mobil_tekst2 {
    font-size: 23px;
    font-family: "Inter";
    font-weight: 300;
    line-height: 1.3;
    text-align: start;
    margin-right: 0;
    word-spacing: normal;
    margin-inline: 0%;
    margin-left: 0.5rem;
    margin-right: 2rem;
  }
  .mobil_tekst3 {
    font-size: 23px;
    font-family: "Inter";
    font-weight: 300;
    line-height: 1.3;
    text-align: start;
    margin-right: 0;
    word-spacing: normal;
    margin-inline: 0%;
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .mobil_h2 {
    margin-top: 2rem;
    margin-left: 0.5rem;
    font-weight: 500;
  }
  .img_tema2 {
    width: 280%;
  }
  .img_tema2-2 {
    width: 90%;
  }
  .navigation_tekst {
    font-family: "Montserrat";
    font-weight: 400;
    margin-top: 5rem;
    margin-bottom: -1rem;
    font-size: 17px;
  }
  .knap-navigation {
    margin-bottom: 5rem;
  }
  .heroimg {
    width: 100%;
  }
  .logo_tema3 {
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 200px;
    margin-left: 3rem;
  }
  .color {
    background-color: #d1cac1;
    margin-top: 4rem;
    margin-bottom: -9rem;
    margin-inline: 0;
  }

  /******** tema 3 *********/

  .grid-item_tema3-4 img {
    justify-content: center;
    width: 90%;
    height: auto;
    margin-left: -1rem;
  }
  .overskift_projekt3 {
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 400;
    margin-right: 2rem;
    margin-left: 0.5rem;
    margin-top: -1rem;
  }
  .mobil_tekst4 {
    font-size: 23px;
    font-family: "Inter";
    font-weight: 200;
    line-height: 1.3;
    text-align: start;
    margin-right: 0;
    word-spacing: normal;
    margin-inline: 0%;
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .mobil_tekst5 {
    font-size: 23px;
    font-family: "Inter";
    font-weight: 200;
    line-height: 1.3;
    text-align: start;
    margin-right: 0;
    word-spacing: normal;
    margin-inline: 0%;
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-top: -0.5rem;
    margin-bottom: 3rem;
  }
  .mobil_tema3-img {
    width: 130%;
    margin-inline: -14%;
  }
  .h2_design {
    color: #fa1e1e;
    font-size: 40px;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 5rem;
    margin-bottom: -5rem;
  }

  .moodboard {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
  .moodboard_img {
    width: 70%;
    border: 3px solid #fa1e1e;
  }
  .tekst_projekt-gridtekst_1 {
    font-size: 19px;
    font-family: "Inter";
    font-weight: 300;
    margin-bottom: 3rem;
    text-align: start;
    word-spacing: normal;
    margin-right: 2rem;
    margin-inline: 5%;
    font-weight: 200;
    color: #fa1e1e;
  }
  .tekst_projekt-gridtekst_2 {
    font-size: 19px;
    font-family: "Inter";
    font-weight: 300;
    margin-bottom: 3rem;
    text-align: start;
    word-spacing: normal;
    margin-right: 2rem;
    margin-inline: 5%;
    font-weight: 200;
    color: #fa1e1e;
  }
  .overskift_projekt-gridh2 {
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 1.4;
    margin-right: 2rem;
    margin-inline: 5%;
    margin-top: 4rem;
    color: #fa1e1e;
  }
  .overskift_projekt-gridh2_2 {
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 1.4;
    margin-right: 2rem;
    margin-inline: 5%;
    margin-top: 2rem;
    color: #fa1e1e;
  }
  .overskift-wireframes {
    font-family: "montserrat";
    font-weight: 400;
    font-size: 27px;
    margin-left: 1rem;
    margin-bottom: -2.5rem;
    margin-top: 2rem;
  }

  /******* Tema 4 *******/
  .img_1 {
    margin-left: 0.8rem;
    margin-bottom: -1rem;
    width: 18%;
    padding-top: 2rem;
  }
  .img_2 {
    width: 18%;
    margin-top: 1rem;
    margin-bottom: -3rem;
  }

  .img_3 {
    margin-left: -1rem;
    width: 35%;
    margin-top: 2rem;
  }

  .img_4 {
    margin-left: 1rem;
    width: 35%;
    margin-top: 1rem;
  }
  .img_5 {
    width: 40%;
    margin-top: 0.5rem;
    margin-left: 0;
  }
  .img_6 {
    margin-right: 0rem;
    width: 102%;
    margin-top: 0.5rem;
    margin-left: -1rem;
  }
  .img_7 {
    margin-left: 0.5rem;
    width: 45%;
    margin-top: 1rem;
    padding-bottom: 2rem;
  }
  .img_8 {
    margin-top: 1rem;
    width: 40%;
    padding-bottom: 2rem;
  }
  .logo4 {
    width: 260px;
    margin-left: 1rem;
  }
  .grid-item_tema4 img {
    width: 100%;
    height: auto;
    margin-left: 0.1rem;
  }
  .tekst_projekt_state {
    font-size: 17px;
    font-family: "Inter";
    font-weight: 200;
    margin-bottom: 1rem;
    text-align: start;
    word-spacing: normal;
    margin-right: 2rem;
  }
  .tekst_projekt_state2 {
    font-size: 17px;
    font-family: "Inter";
    font-weight: 200;
    margin-bottom: 3rem;
    text-align: start;
    word-spacing: normal;
    margin-right: 2rem;
  }

  /****** Passionssite tema 5 ******/
  .h2_video {
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: -1rem;
  }
  .tekst-video1 {
    font-size: 17px;
    font-weight: 300;
    font-family: "Inter";
  }
  .tekst-video2 {
    font-size: 17px;
    font-weight: 300;
    font-family: "Inter";
  }

  /********** Footer **********/
  .text_footerleft {
    margin-top: 2rem;
    text-align: center;
    color: #fa1e1e;
    text-decoration: 1px #312e2e underline;
    text-underline-offset: 6px;
    font-size: 14px;
    font-family: "Inter";
  }
  .text_footerleft:hover {
    color: #312e2e;
    text-decoration: 1px #fa1e1e underline;
    transform: scale(1.1);
  }
  .footerknap {
    display: inline-block;
    text-decoration: none;
    color: #fa1e1e;
    border-bottom: 1.5px solid#312e2e;
    font-weight: 400;
    font-family: "Inter";
    letter-spacing: 1px;
    transition: border 0.3s ease, color 0.3s ease;
    font-size: 14px;
  }
  .footer_h2 {
    font-size: 25px;
    font-weight: 400;
    font-family: "Montserrat";
  }
  .footer_p1 {
    font-size: 15px;
    font-weight: 350;
    font-family: "Inter";
    margin-top: -0.5rem;
  }
  .footer_p2 {
    font-size: 14px;
    font-weight: 300;
    font-family: "Inter";
    margin-top: 2rem;
  }
  /****** carousel *******/
  .carousel-slide img {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    margin-bottom: 2rem;
    border: 5px solid #fa1e1e;
  }
  .hovertekst {
    color: #fa1e1e;
    font-size: 25px;
    font-family: "Inter";
    font-weight: 300;
  }
}
